.btn .btn-primaryy {
  background-color: #4F46E5 !important;
}body.dark-mode {
  background-color: #1e1e1e;
  color: white;
}

body.dark-mode .navbar {
  background-color: #121212 !important;
}

body.dark-mode .nav-link {
  color: #ddd !important;
}

body.dark-mode .nav-link:hover {
  color: #fff !important;
}
body.dark-mode .footer ul li a{
  color: white !important;
}
body.dark-mode .footer {
  background-color: #121212 !important;
  color: white;
}

body.dark-mode .footer ol li a {
  color: white !important;
}
.btn  {
  padding: 16px  40px !important;
}
/* Ensure the footer stays at the bottom of the viewport */
html, body {
  height: 100%;
}
